*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav{
    container-type: inline-size;
}
@container (max-width: 500px){
    .nav{
        background-color: red;
    }
}