.container {
}
.sessionForm{
    display: flex;
    background-color: antiquewhite;

}
.sessionForm input{
    width: 200px;
}
.mainForm {
    display: flex;
    flex-direction: column;
}
.freeForm{
    display: none;
    flex-direction: column;

}
.guidedForm{
    display: none;
    flex-direction: column;

}
.invisble{
    display: none;
}
.visible{
    display: flex;
}